* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #1e2d2f;
  }
  
  .navbar_container {
    background-color: #f1ab86;
    width: 100%;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar_container .navbar-brand {
    font-size: 50px;
    color: white;
    padding: 20px;
    text-shadow: -1px -1px 0 #1e2d2f, 1px -1px 0 #1e2d2f, -1px 1px 0 #1e2d2f,
      1px 1px 0 #1e2d2f;
    margin-left: 40px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
  }
  
  .navbar-brand:hover {
    color: #1e2d2f;
  }
  
  .nav-pills {
    padding: 20px;
    position: absolute;
    right: 0;
  }
  
  @media (max-width: 810px) {
    .nav.nav-pills {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 84px; /* Adjust this value as needed */
    }
  
    .nav.nav-pills .nav-item {
      margin-bottom: 10px; /* Adjust this value as needed */
    }
  
    .nav.nav-pills .nav-link {
      font-size: 16px; /* Adjust this value as needed */
      padding: 5px 10px; /* Adjust this value as needed */
    }
  
    .navbar-brand {
      display: block;
      text-align: center;
      margin-bottom: 20px; /* Adjust this value as needed */
    }
  }
  
  @media (max-width: 720px) {
    .navbar_container .navbar-brand {
      margin-left: -6px;
      margin-top: -4px;
    }
  }
  
  .nav-link {
    margin-right: 10px;
    font-size: 26px;
    font-family: sans-serif;
  }
  
  .white-pill.nav-link {
    background-color: white;
    color: #1e2d2f;
  }
  
  .navbar_container .nav-pills .nav-link.active,
  .navbar_container .nav-pills .nav-link.active:focus,
  .navbar_container .nav-pills .nav-link.active:hover {
    background-color: #1e2d2f;
    color: white;
  }
  
  .tab_container {
    padding-right: 0;
  }
  
  .main_text {
    color: white;
  }
  
  .first_block {
    position: relative;
    height: 800px;
    background-color: #b7b7a4;
    opacity: 0.7;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
    margin-top: 3cqh;
  }
  
  .first_int_block {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Add margin top and bottom */
    flex-direction: row;
    z-index: 2;
  }
  
  .first_int_block .profile_image,
  .first_int_block .profile_text {
    padding: 20px;
    border-radius: 20px;
  }
  
  .profile_image img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 80cqh;
    /* height: 800px;  Set the height of the image */
    margin-top: 1cqh;
  }
  
  .profile_text {
    padding: 20px;
    flex: 1; /* Allow the text to grow to fill available space */
    color: white;
  }
  
  @media (max-width: 1005px) {
    .first_int_block {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 1005px) {
    .first_block {
      height: 1300px;
    }
  }

  @media (max-width: 720px) {
    .first_block {
      height: 1000px;
    }
  }


  @media (max-height: 1000px) {
    .first_block {
      height: 1200px;
    }
  }

  @media (max-height: 950px) {
    .first_block {
      height: 1100px;
    }
  }

  @media (max-height: 850px) {
    .first_block {
      height: 1000px;
    }
  }

  @media (max-height: 800px) {
    .first_block {
      height: 950px;
    }
  }

  @media (max-height: 750px) {
    .first_block {
      height: 900px;
    }
  }

  @media (max-height: 700px) {
    .first_block {
      height: 850px;
    }
  }


  
  .intro_title {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #283618, 1px -1px 0 #283618, -1px 1px 0 #283618,
      1px 1px 0 #283618;
    margin-top: 1cqh;
  }
  
  .intro_text {
    font-size: 18px;
    font-family: sans-serif;
  }
  
  @media (min-width: 1520px) {
    .intro_title {
      font-size: 80px;
    }
  }
  
  @media (min-width: 1450px) {
    .intro_text {
      font-size: 30px;
    }
  }

  @media (max-width: 992px) {
    .intro_title {
      margin-top: 0;
      margin-bottom: 6px;
    }
  }


  @media (max-width: 992px) {
    .intro_text {
      margin-bottom: 4px;
      font-size: calc(1vh + 1vw);
    }
  }




  
  .second_block {
    position: relative;
    height: 800px;
    background-color: #c57b57;
    opacity: 0.65;
    border-radius: 20px;
    margin: 20px;
    margin-top: 5cqh;
    z-index: 2;
  }
  
  .second_int_container {
    position: relative;
    z-index: 3;
  }
  
  .second_int_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    margin-top: 5cqh;
    z-index: 1;
    margin-left: 1cqh;
    margin-right: 1cqh;
    margin-bottom: 5cqh;
  }
  
  .second_1_int_block,
  .second_2_int_block,
  .second_3_int_block {
    background-color: bisque;
    height: 700px;
    border-radius: 20px;
    width: 30%;
    position: relative;
  }
  
  .second_1_int_block {
    border: #b7b7a4 solid 4px;
  }
  
  .second_2_int_block {
    border: #1e2d2f solid 4px;
  }
  
  .second_3_int_block {
    border: #c57b57 solid 4px;
  }
  
  /* @media (max-width: 992px) {
    .second_int_block {
    flex-direction: column;
    align-items: center;
  }
  .second_1_int_block,
  .second_2_int_block,
  .second_3_int_block{
    margin-top: 2cqh;
  }}
  */
  
  .second_title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #1e2d2f;
    font-size: 48px;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 720px) {
    .second_title {
      font-size: 20px;
    }
  }
  
  .eco_image {
    position: relative;
    z-index: 1;
  }
  
  .eco_image img {
    width: 100%;
    height: 100%;
    border-radius: 17px 17px 0 0;
  }
  
  .eco_image .second_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1e2d2f;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
  }
  
  @media (min-width: 1250px) {
    .eco_image .second_title {
      white-space: nowrap;
    }
  }
  
  .data_image {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .data_image img {
    width: 100%;
    height: auto;
    border-radius: 17px 17px 0 0;
  }
  
  @media (max-width: 768px) {
    .data_image .second_title {
      position: relative;
      bottom: auto;
      left: auto;
      transform: none;
      text-align: center;
    }
  }
  
  .software_image {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .software_image img {
    width: 100%;
    height: auto;
    border-radius: 17px 17px 0 0;
  }
  
  @media (max-width: 768px) {
    .software_image .second_title {
      position: relative;
      bottom: auto;
      left: auto;
      transform: none;
      text-align: center;
    }
  }
  
  .data_image .second_title,
  .software_image .second_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1e2d2f;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
  }
  
 /*.second_text{
    padding: 10px;
}
*/


  .google_sch_icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

  .google_sch_icon a i.fa-google-scholar {
    color: #1e2d2f; /* Specify your desired color here */
}

.google_sch_icon a:hover i.fa-google-scholar {
    color: #c57b57; /* Color when hovering */
}

.google_sch_icon a i.fa-researchgate {
    color: #1e2d2f; /* Specify your desired color here */
}

.google_sch_icon a:hover i.fa-researchgate {
    color: #c57b57; /* Color when hovering */
}

.git_icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .git_icon a i.fa-github {
    color: #1e2d2f; /* Specify your desired color here */
}

.git_icon a:hover i.fa-github {
    color: #c57b57; /* Color when hovering */
}


.contact_icon{
    margin-left: 16px;
    font-size: 26px;
}

.contact_icon a i.fa-linkedin {
    color: white; /* Specify your desired color here */
}

.contact_icon a:hover i.fa-linkedin {
    color: #f1ab86; /* Color when hovering */
}






.second_1_text {
    padding: 10px;
    position: relative; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.75vw + 0.75vh);
  }

  @media (min-width: 1150px) {
    .second_1_text {
      font-size: calc(0.48vw + 0.48vh);
    }
  }



  .second_2_text {
    padding: 10px;
    position: relative; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.75vw + 0.75vh);
  }

  @media (min-width: 1300px) {
    .second_2_text {
      font-size: calc(0.6vw + 0.6vh);
    }
  }

  .second_3_text {
    padding: 10px;
    position: relative; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.9vw + 0.9vh);
  }

  @media (min-width: 1300px) {
    .second_3_text {
      font-size: calc(0.8vw + 0.8vh);
    }
  }

  .eco_evo_text {
    padding: 30px;
    margin-top: -28px;
    margin-bottom: -24px;
    font-size: 12px;
    position: relative;
    font-size: calc(0.5vw + 0.5vh);

  }

  @media (min-width: 1300px) {
    .eco_evo_text {
      font-size: calc(0.4vw + 0.4vh);
    }
  }



  .data_text{
    padding: 30px;
    margin-top: -24px;
    margin-bottom: -24px;
    font-size: 14px;
  }

 @media (max-width: 720px) {
    .data_text {
      font-size: calc(0.8vw + 0.8vh);
    }
  }


  
  .dropdown-menu {
    display: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown:hover .nav-link {
    background-color: #1e2d2f;
    color: white;
  }
  
  .dropdown-menu a:active {
    background-color: #1e2d2f;
    color: white;
  }
  
  .nav-link.white-pill:hover,
  .nav-link.white-pill:active {
    background-color: #1e2d2f;
    color: white;
  }
  
  footer {
    color: white;
    text-align: center;
    margin-bottom: 1cqh;
    font-family: sans-serif;
  }
  
  .form_container {
    margin: 20px;
    margin-top: 4cqh;
    border: #f1ab86 solid 8px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form_container form {
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
  
  .title_flex {
    text-align: center;
  }
  
  .third_title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }


  
  .all_entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
  }
  
  .form_text {
    color: white;
  }
  
  .row_entry {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    margin-right: 10px;
  }
  
  .first_name,
  .last_name,
  .email {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 50%;
    padding-bottom: 68px;
  }
  
  .message_text {
    color: white;
  }
  
  .send_button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  