* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e2d2f;
}

.navbar_container {
    background-color: #f1ab86;
    width: 100%;
}

.navbar {
    padding: 0;
}

.navbar_container .navbar-brand {
    font-size: 50px;
    color: white;
    padding: 20px;
    text-shadow: -1px -1px 0 #1e2d2f, 1px -1px 0 #1e2d2f, -1px 1px 0 #1e2d2f, 1px 1px 0 #1e2d2f;
    margin-left: 40px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
}

.navbar-brand:hover {
    color: #1e2d2f; 
}

.nav-pills {
    padding: 20px;
    position: absolute;
    right: 0;
}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
}

.white-pill.nav-link {
    background-color: white;
    color: black;
}

.navbar_container .nav-pills .nav-link.active, 
.navbar_container .nav-pills .nav-link.active:focus, 
.navbar_container .nav-pills .nav-link.active:hover {
    background-color: #1e2d2f; 
    color: white; 
}

.tab_container {
    padding-right: 0; 
}

.main_text{
    color: white;
}

.first_block {
    position: relative;
    height: 800px;
    background-color: #b7b7a4;
    opacity: 0.7;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
}

.first_int_block {
    position: absolute;
    display: flex; 
    justify-content: space-between;
    margin: 20px; /* Add margin top and bottom */
    flex-direction: row;
    z-index: 2;
    
}

.first_int_block .profile_image,
.first_int_block .profile_text {
    padding: 20px;
    border-radius: 20px;
}

.profile_image img {
    width: auto;
    border-radius: 20px;
    object-fit: cover;
    height: 800px; /* Set the height of the image */
}

.profile_text {
    padding: 20px;
    flex: 1; /* Allow the text to grow to fill available space */
    color: white;
}


@media (max-width: 992px) {
    .first_int_block {
    flex-direction: column;
    align-items: center;
}}

@media (max-width: 992px) {
    .first_block {
    height: 1200px;
}}



